{% extends "base.html" %}

{% block title %}
Reservas en Proceso
{% endblock %}

{% block content %}
<style>
    .reserva-container {
        margin-top: 20px;
    }

    .reserva-item {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        background-color: #f8f9fa;
    }

    .reserva-item p {
        margin: 5px 0;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: #007bff;
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
        text-decoration: none;
    }

    .btn-ingreso {
        background-color: #28a745;
    }

    .btn-salida {
        background-color: #dc3545;
    }

    .btn:hover {
        opacity: 0.8;
    }

    .btn-disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
    .messages {
    list-style: none;
    padding: 0;
}

.messages li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
}

.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}
</style>

<h2>Reservas en Proceso</h2>

{% if reservas %}
    <div class="reserva-container">
        {% for reserva in reservas %}
            <div class="reserva-item">
                <p><strong>Usuario:</strong> {{ reserva.usuario.mail }}</p>
                <p><strong>Ubicación:</strong> {{ reserva.publicacion.ubicacion }}</p>
                <p><strong>Precio:</strong> {{ reserva.publicacion.precio }}</p>
                <p><strong>Cantidad de Días:</strong> {{ reserva.publicacion.cant_dias }}</p>
                <div>
                    {% if not reserva.fecha_ingreso and not reserva.fecha_salida %}
                    <!-- No tiene fecha de ingreso ni fecha de salida -->
                    <a href="{% url 'registrar_ingreso' reserva.id %}" class="btn btn-ingreso">Registrar Ingreso</a>
                    <button class="btn btn-salida btn-disabled" disabled>Registrar Salida</button>
                    {% elif reserva.fecha_ingreso and not reserva.fecha_salida %}
                    <!-- Tiene fecha de ingreso pero no de salida -->
                    <button class="btn btn-ingreso btn-disabled" disabled>Registrar Ingreso</button>
                    <a href="{% url 'registrar_salida' reserva.id %}" class="btn btn-salida">Registrar Salida</a>
                    {% elif reserva.fecha_ingreso and reserva.fecha_salida %}
                    <!-- Tiene fecha de ingreso y de salida -->
                    <button class="btn btn-ingreso btn-disabled" disabled>Registrar Ingreso</button>
                    <button class="btn btn-salida btn-disabled" disabled>Registrar Salida</button>
                    {% endif %}
                
                </div>
            </div>
        {% endfor %}
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% else %}
    <p>No tienes reservas en proceso.</p>
{% endif %}
{% endblock %}

