{% extends "base.html" %}

{% block title %}
Valoraciones de {{ usuario.username }}
{% endblock %}

{% block content %}
<h1>Valoraciones de {{ usuario.username }}</h1>

<!-- Lista de valoraciones de Trueques -->
{% if valoraciones_trueque %}
    <h2>Valoraciones de Trueques</h2>
    <ul>
        {% for valoracion in valoraciones_trueque %}
            <li>{{ valoracion }}</li>
        {% empty %}
            <li>No hay valoraciones de trueques.</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Lista de valoraciones de Amarras -->
{% if valoraciones_amarra %}
    <h2>Valoraciones de Amarras</h2>
    <ul>
        {% for valoracion in valoraciones_amarra %}
            <li>{{ valoracion }}</li>
        {% empty %}
            <li>No hay valoraciones de amarras.</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
