{% extends "base.html" %}

{% block title %}
Modificar Valoración de Trueque
{% endblock %}

{% block content %}
<h1>Modificar Valoración de Trueque</h1>

<form method="POST">
    {% csrf_token %}
    <p>{{ valoracion }}</p>
    
    <label for="respuesta">Respuesta:</label><br>
    <textarea id="respuesta" name="respuesta" rows="4" cols="50">{{ valoracion.respuesta }}</textarea><br>

    <button type="submit" style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >Guardar Cambios</button>
</form>
{% endblock %}
