<!-- responder_valoracion.html -->
{% extends "base.html" %}

{% block title %}
Responder Valoración
{% endblock %}

{% block content %}
<h1>Responder Valoración</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >Enviar Respuesta</button>
</form>
<a href="{% url 'mis_valoraciones' %}" style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >Cancelar</a>
{% endblock %}
