{% extends "base.html" %}

{% block title %}
Valoraciones Pendientes
{% endblock %}

{% block content %}
<h1>Valoraciones Pendientes</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<!-- Filtro de valoraciones -->
<form method="GET">
    <label for="filtro">Filtrar por:</label>
    <select id="filtro" name="filtro">
        <option value="trueque" {% if filtro == "trueque" %}selected{% endif %}>Trueques</option>
        <option value="amarra" {% if filtro == "amarra" %}selected{% endif %}>Amarras</option>
    </select>
    <button type="submit">Filtrar</button>
</form>

<!-- Lista de valoraciones de Trueques -->
{% if filtro == "trueque" %}
    <h2>Valoraciones de Trueques Pendientes</h2>
    <ul>
        {% for valoracion in valoraciones_trueque %}
            <li>
                {{ valoracion }}
                <form method="POST" action="{% url 'eliminar_valoracion_trueque' valoracion.id %}">
                    {% csrf_token %}
                    <button type="submit"   style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >DESCARTAR</button>
                </form>
                <form method="POST" action="{% url 'valorar_trueque' valoracion.id %}">
                    {% csrf_token %}
                    <button type="submit" style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >VALORAR</button>
                </form>
            </li>
        {% empty %}
            <li>No hay valoraciones de trueques pendientes.</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Lista de valoraciones de Amarras -->
{% if filtro == "amarra" %}
    <h2>Valoraciones de Amarras Pendientes</h2>
    <ul>
        {% for valoracion in valoraciones_amarra %}
            <li>
                {{ valoracion }}
                <form method="POST" action="{% url 'eliminar_valoracion_amarra' valoracion.id %}">
                    {% csrf_token %}
                    <button type="submit" style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >DESCARTAR</button>
                </form>
                <form method="POST" action="{% url 'valorar_amarra' valoracion.id %}">
                    {% csrf_token %}
                    <button type="submit" style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >VALORAR</button>
                </form>
            </li>
        {% empty %}
            <li>No hay valoraciones de amarras pendientes.</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
