<!-- valorar_amarra.html -->
{% extends "base.html" %}

{% block title %}
Valorar Amarra
{% endblock %}

{% block content %}
<h1>Valorar Amarra</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="guardar" style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >Guardar</button>
    <button type="button" onclick="window.history.back();" name="salir" style="display: inline-block; padding: 5px 10px;margin-top: 10px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" >Salir</button>
</form>
{% endblock %}

