<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap" rel="stylesheet">
    <title>Notice</title>
</head>
<body>

    <header class="header1">

        <div class="navegacion">
            <div id="box-img">
                <img src="img/iconY.jpg" alt="Icono Y">
            </div>
            <div class="titulo-cli">
                <h1>YateMate</h1>
            </div>
            <nav id="menu">
                <div id="div-nav">
                    <ul>
                        <li><a href="#">Secciones</a>
                            <!-- start menu desplegable -->
                            <ul>
                                <li><a href="#general" onClick="crearSeccion('ge')">Trueque</a></li>
                                <li><a href="#general" onClick="crearSeccion('po')">Alquiler</a></li>
                            </ul>
                            <!-- end menu desplegable -->
                        </li>
                        <li><a href="login.html">Ingresar</a></li>
                        <li><a href="login.html">Registrarse</a></li>
                    </ul>
                    <!-- end menu -->
                </div>
            </nav>
        </div>
    </header>

    <h2 class="desta-ti">Destacado de la semana</h2>
    <div id="destacado"></div>

    <div id="general"></div>

    <div id="result">
        <img src="img/loading-11.gif" alt="Cargando" id="img-cargando">
    </div>

</body>
</html>
