{% extends "base.html" %}

{% block title %}
Mi Página de Inicio
{% endblock %}

{% block content %}
<style>
    /* Estilo para cada tarjeta */
    .card {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px;
    }

    /* Estilo para el título de la tarjeta */
    .card-title {
        color: #007bff;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    /* Estilo para el botón de la tarjeta */
    .btn-card {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
    }

    /* Estilo para el formulario de filtro */
    .filter-form {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-form label {
        margin-right: 10px;
        font-weight: bold;
    }

    .filter-form select {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ced4da;
    }

    .filter-form button {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
</style>

<!-- Formulario de filtro por estado y tipo de publicación -->
<form class="filter-form" method="GET" action="">
    <div>
        <label for="estado">Filtrar por Estado:</label>
        <select name="estado" id="estado">
            <option value="Vigente">Vigente</option>
            <option value="Proceso">Proceso</option>
            <option value="Finalizado">Finalizado</option>
        </select>
    </div>

    <div>
        <label for="tipo">Filtrar por Tipo de Publicación:</label>
        <select name="tipo" id="tipo">
            <option value="objetos valiosos">Objetos Valiosos</option>
            <option value="embarcaciones">Embarcaciones</option>
        </select>
    </div>

    <button type="submit">Filtrar</button>
</form>

{% if objetos %}
    <h2>Publicaciones</h2>
    {% for objeto in objetos %}
        <div class="card">
            <h3 class="card-title">
                {% if objeto.embarcacion.nombre_fantasia %}
                    {{ objeto.embarcacion.nombre_fantasia }}
                {% else %}
                    {{ objeto.marca }}
                {% endif %}
                {% if objeto.embarcacion.tipo%}
                    - {{ objeto.embarcacion.tipo }}
                {% else %}
                    - {{ objeto.tipo }}
                {% endif %}    
            </h3>
            <p>{{ objeto.descripcion|truncatechars:70 }}</p>
            <a href="{% url 'saber_mas' id=objeto.id tipo_objetos=tipo_objetos %}" class="btn btn-card">Saber más</a>
        </div>
    {% endfor %}
{% else %}
    <p>No se cuenta con Publicaciones.</p>
{% endif %}
{% endblock %}
