{% extends "base.html" %}
{% load static %}

{% block title %}
Saber más
{% endblock %}

{% block content %}
<style>
  /* Estilo para cada tarjeta */
  .card {
      display: block; /* Mostrar todas las tarjetas inicialmente */
      background-color: #f8f9fa;
      border: 1px solid #ced4da;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 15px;
  }

  /* Estilo para el título de la tarjeta */
  .card-title {
      color: #007bff;
      font-size: 1.5rem;
      margin-bottom: 10px;
  }

  /* Estilo para el botón de la tarjeta */
  .btn-card {
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 3px;
      margin-right: 5px;
  }

  .btn-card-delete {
      background-color: #000;
      color: #fff; /* Texto en color blanco */
  }

  .btn-card-modify {
      background-color: #ffc107;
      color: #000;
  }

  .btn-card-reservas {
      border: 1px solid;
      margin-top: 5px;
      color: #fff; /* Texto en color blanco */
  }

  .btn-verde {
      background-color: #28a745;
      border-color: #28a745;
  }

  .btn-rojo {
      background-color: #dc3545;
      border-color: #dc3545;
      color: #fff;
  }


  .error-message {
      color: red;
      font-size: 0.8rem;
      margin-top: 5px;
  }
  .messages {
  list-style: none;
  padding: 0;
}

.messages li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.messages li.success {
  background-color: #d4edda;
  color: #155724;
}

.messages li.error {
  background-color: #f8d7da;
  color: #721c24;
}

.publicaciones-container{
      padding-bottom: 70px; /* Espacio inferior para evitar que quede oculto por el footer */
  }

</style>

  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}





<div class="container" id="conta">
  <!-- Verifica si el objeto tiene los campos Tipo, Marca, Descripción y Foto -->
  {% if objeto %}
    <div class="row">
      <div class="col-md-6">
        {% if objeto.foto %}
        <img src="{{ objeto.foto.url }}" alt="Foto del objeto" class="img-fluid"  style="max-width: 80%; max-height: 280px;">
        {% else %}
        <img src="{{ objeto.embarcacion.foto.url }}" alt="Foto del objeto" class="img-fluid" style="max-width: 80%; max-height: 280px;">
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if objeto.tipo %}
          <h1 class="mt-4">Tipo: {{ objeto.tipo }}</h1>
        {% else %}
          <h1 class="mt-4">Tipo: {{ objeto.embarcacion.tipo }}</h1>
        {% endif %}
        <!-- Verifica si el objeto tiene el campo Marca -->
        {% if objeto.marca %}
          <p>Marca: {{ objeto.marca }}</p>
        {% else %}
          <p>Nombre de fantasía: {{ objeto.embarcacion.nombre_fantasia }}</p>
        {% endif %}
        <p>Descripción: {{ objeto.descripcion }}</p>

        <!-- Verifica si hay una sesión de usuario activa -->


        {% if request.session.user_type == 'Administrador' %}
          
          {% if objeto.embarcacion %}


            

         
          <a href="#"  type="button" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" class="btn btn-primary mt-3" id="dar-de-baja" onclick="confirmarBaja({{ objeto.id }}, 'Embarcacion')">Dar baja usuario</a>
          {%else%}
          <a href="#" type="button" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 4px; border: none; cursor: pointer;" class="btn btn-primary mt-3" id="dar-de-baja" onclick="confirmarBaja({{ objeto.id }}, 'Objetos Valiosos')">Dar baja usuario</a>
          {%endif%}
         {% endif %} 
         
         
        {% if request.session.user_id and request.session.user_type != 'Administrador' %}
          {% if objeto.embarcacion %}
            {% if objeto.embarcacion.dueno.id != request.session.user_id %}
              <button type="button" class="btn btn-primary mt-3"
              onclick="solicitarTrueque({{ objeto.id }}, 'Embarcaciones')">
              Solicitar un Trueque
              </button>
            {% else %}
              <button type="button" class="btn btn-card mt-3" disabled>
              Solicitar un Trueque
              </button>
            {% endif %}
            <script>
              function solicitarTrueque(publicacionId, tipo) {
                  // Aquí puedes realizar cualquier lógica adicional antes de redirigir, si es necesario
                  window.location.href = `/solisitar_trueque/{{ objeto.id }}/${tipo}`;
              }
            </script>
          {% else %}
            {% if objeto.dueño.id != request.session.user_id %}
              <button type="button" class="btn btn-primary mt-3"
              onclick="solicitarTrueque({{ objeto.id }}, 'Objetos Valiosos')">
              Solicitar un Trueque
              </button>
            {% else %}
              <button type="button" class="btn btn-card mt-3" disabled>
              Solicitar un Trueque
              </button>
            {% endif %}
            <script>
              function solicitarTrueque(publicacionId, tipo) {
                  // Aquí puedes realizar cualquier lógica adicional antes de redirigir, si es necesario
                  window.location.href = `/solisitar_trueque/{{ objeto.id }}/${tipo}`;
              }
            </script>
          {% endif %}
        {% endif %}
        
        <!-- Mostrar mensaje de éxito -->
        {% if mensaje %}
          <div class="alert alert-success mt-3">{{ mensaje }}</div>
        {% else %}
          <div class="alert alert-danger mt-3">{{ mensaje }}</div>
        {% endif %}
      </div>
    </div>
  {% else %}
    <p>El objeto no tiene la información completa  o fue removido.</p>
  {% endif %}
</div>
<script>

function confirmarBaja(id, tipo) {
    if (confirm('¿Estás seguro de dar de baja al usuario?')) {
        darDeBajaPublicacion(id, tipo);
    }
}


  function darDeBajaPublicacion(publicacionId, tipo) {
      // Aquí puedes realizar cualquier lógica adicional antes de redirigir, si es necesario
      if( tipo==='Embarcacion'){
      window.location.href = `/darDeBajaEmbarcacion/{{ objeto.id }}/`;
       } else {
      window.location.href = `/darDeBajaObjeto/{{ objeto.id }}/`;
       }
  }
</script>

{% endblock %}
