{% extends "base.html" %}

{% block title %}
Mis solicitudes
{% endblock %}

{% block content %}
<style>
    .card {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px;
    }

    .card-title {
        color: #007bff;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .btn-card {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
    }
</style>

<head>
    <title>Solicitudes de Trueque</title>
</head>
<body>
    <h1>Solicitudes de Trueque</h1>
    {% if solicitudes.exists %}
        <ul>
            {% for solicitud in solicitudes %}
                <div class="card">
                    <p>Nombre solicitante: {{ solicitud.usuario_interesado.nombre }}</p>
                    <a href="{% url 'rechazar_trueque' solicitud.id tipoObj %}" class="btn btn-card">Rechazar Solicitud</a>
                    <a href="#" class="btn btn-card">Iniciar Trueque</a>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay solicitudes para esta publicación.</p>
    {% endif %}
</body>
</html>
{% endblock %}
