{% extends "base.html" %}
{% load static %}

{% block title %}
Mis publicaciones
{% endblock %}

{% block content %}
<style>
    /* Estilo para cada tarjeta */
    .card {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px;
    }

    /* Estilo para el título de la tarjeta */
    .card-title {
        color: #007bff;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    /* Estilo para el botón de la tarjeta */
    .btn-card {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
    }

    /* Estilo para el botón de la tarjeta cuando hay solicitudes */
    .btn-cardVerde {
        background-color: #28a745;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
    }

    /* Estilo para el botón de la tarjeta cuando no hay solicitudes */
    .btn-cardRojo {
        background-color: #dc3545;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
    }
</style>

{% if objetos or embarcaciones %}
    {% if objetos %}
    <h2>Mis publicaciones</h2>
        {% for objeto in objetos %}
            <div class="card">
                <p>{{ objeto.descripcion|truncatechars:70 }}</p>
                {% if objeto.foto %}
                <img src="{% static 'img_o/' %}{{ objeto.foto.url }}" alt="" class="img-fluid"  style="max-width: 80%; max-height: 200px;">
                {% endif %}
                <a href={% url 'eliminar_objeto' objeto.id %} class="btn btn-card">Eliminar</a>
                <a href="#" class="btn btn-card">Modificar</a>
                {% if objeto.id in objetos_con_solicitudes %}
                    <a href={% url 'solicitudes_trueque_objeto' objeto.id %} class="btn btn-cardRojo" >Solicitudes</a>
                {% else %}
                    <a href="#" class="btn btn-cardRojo">Solicitudes</a>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% if embarcaciones %}
        {% for embarcacion in embarcaciones %}
            <div class="card">
                <p>{{ embarcacion.embarcacion.nombre_fantasia|truncatechars:70 }}</p>
                {% if embarcacion.embarcacion.foto %}
                <img src="{% static 'img_b/' %}{{ embarcacion.embarcacion.foto.url }}" alt="Foto de la embarcación" class="img-fluid"style="max-width: 80%; max-height: 200px;">
                {% endif %}
                <a href={% url 'eliminar_embarcacion' embarcacion.id %} class="btn btn-card">Eliminar</a>
                <a href="#" class="btn btn-card">Modificar</a>
                {% if embarcacion.id in embarcaciones_con_solicitudes %}
                    <a href={% url 'solicitudes_trueque_embarcacion' embarcacion.id %} class='btn btn-cardVerde'>Solicitudes</a>
                {% else %}
                    <a href="#" class="btn btn-cardRojo">Solicitudes</a>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% else %}
    <p>Usted no cuenta con ninguna publicación.</p>
{% endif %}

{% endblock %}
