{% extends "base.html" %}
{% load static %}

{% block title %}
Saber más
{% endblock %}

{% block content %}
<div class="container">
  <!-- Verifica si el objeto tiene los campos Tipo, Marca, Descripción y Foto -->
  {% if objeto %}
    <div class="row">
      <div class="col-md-6">
        {% if objeto.foto %}
        <img src="{{ objeto.foto.url }}" alt="Foto del objeto" class="img-fluid"  style="max-width: 80%; max-height: 280px;">
        {% else %}
        <img src="{{ objeto.embarcacion.foto.url }}" alt="Foto del objeto" class="img-fluid" style="max-width: 80%; max-height: 280px;">
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if objeto.tipo %}
          <h1 class="mt-4">Tipo: {{ objeto.tipo }}</h1>
        {% else %}
          <h1 class="mt-4">Tipo: {{ objeto.embarcacion.tipo }}</h1>
        {% endif %}
        <!-- Verifica si el objeto tiene el campo Marca -->
        {% if objeto.marca %}
          <p>Marca: {{ objeto.marca }}</p>
        {% else %}
          <p>Nombre de fantasía: {{ objeto.embarcacion.nombre_fantasia }}</p>
        {% endif %}
        <p>Descripción: {{ objeto.descripcion }}</p>

        <!-- Verifica si hay una sesión de usuario activa -->
        {% if request.session.user_id and request.session.user_type != 'Administrador' %}
          {% if objeto.embarcacion %}
            {% if objeto.embarcacion.dueno.id != request.session.user_id %}
              <button type="button" class="btn btn-primary mt-3"
              onclick="solicitarTrueque({{ objeto.id }}, 'Embarcaciones')">
              Solicitar un Trueque
              </button>
            {% else %}
              <button type="button" class="btn btn-card mt-3" disabled>
              Solicitar un Trueque
              </button>
            {% endif %}
            <script>
              function solicitarTrueque(publicacionId, tipo) {
                  // Aquí puedes realizar cualquier lógica adicional antes de redirigir, si es necesario
                  window.location.href = `/solisitar_trueque/{{ objeto.id }}/${tipo}`;
              }
            </script>
          {% else %}
            {% if objeto.dueño.id != request.session.user_id %}
              <button type="button" class="btn btn-primary mt-3"
              onclick="solicitarTrueque({{ objeto.id }}, 'Objetos Valiosos')">
              Solicitar un Trueque
              </button>
            {% else %}
              <button type="button" class="btn btn-card mt-3" disabled>
              Solicitar un Trueque
              </button>
            {% endif %}
            <script>
              function solicitarTrueque(publicacionId, tipo) {
                  // Aquí puedes realizar cualquier lógica adicional antes de redirigir, si es necesario
                  window.location.href = `/solisitar_trueque/{{ objeto.id }}/${tipo}`;
              }
            </script>
          {% endif %}
        {% endif %}
        
        <!-- Mostrar mensaje de éxito -->
        {% if mensaje %}
          <div class="alert alert-success mt-3">{{ mensaje }}</div>
        {% else %}
          <div class="alert alert-danger mt-3">{{ mensaje }}</div>
        {% endif %}
      </div>
    </div>
  {% else %}
    <p>El objeto no tiene la información completa.</p>
  {% endif %}
</div>
{% endblock %}
