<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Footer</title>
<style>
  /* Estilos para el footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0; /* Ajuste del padding para reducir el tamaño vertical */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px; /* Tamaño de fuente ajustado */
  }
</style>
</head>
<body>
<footer>
  <div class="container">
    <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
  </div>
</footer>
</body>
</html>

