{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Header</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<header class="header1">
  <div class="navegacion">
    
    <div id="box-img">
      <img src="{% static 'img/iconY.jpg' %}">
    </div>
  
    <div class="titulo-cli">
      <h1>YateMate</h1>
    </div>  

    <nav id="menu">
      <div id="div-nav">
        <ul>
          <li>
              {% if request.path == '/list_publication/' %}
                <a href="#">Publicaciones</a>
                <ul>
                    <li><a href="#">Hacer Publicacion</a></li>
                    <li><a href="http://127.0.0.1:8000/mis_publicaciones/">Ver mis publicaciones</a></li>
                    <li><a href="http://127.0.0.1:8000/mis_solicitudes/">Ver mis solicitudes de trueque</a></li>
                </ul>
            {% endif %}
          </li>
          <li>
            <a href="#">Secciones</a>
            <!-- start menu desplegable -->
            <ul>
              {% if request.path != '/list_publication/' %}
                {% if request.session.user_type == 'Usuario' %}
                  <li><a href="http://127.0.0.1:8000/list_publication/">Trueque</a></li>
                {% elif request.session.user_type == 'Administrador'%} 
                  <li><a href="http://127.0.0.1:8000/list/">Trueque</a></li>
                {% endif %}
                {% if not request.session.user_id %}
                  <li><a href="http://127.0.0.1:8000/list_publication_boat/">Trueque</a></li>                
                {% endif %}
              {% endif %}
              <li><a href="#">Amarras</a></li>
              {% if request.path != '/' %}
              <li><a href="http://127.0.0.1:8000/">Inicio</a></li>
              {% endif %}
            </ul>
            <!-- end menu desplegable -->
          </li>
          {% if request.session.user_id %}
            <li><a href="http://127.0.0.1:8000/login/logout">Cerrar sesión</a></li>
          {% else %}
            <li><a href="http://127.0.0.1:8000/login/">Iniciar sesión</a></li>
            <li><a href="http://127.0.0.1:8000/register/">Registrarse</a></li>
          {% endif %}
        </ul>
        <!-- end menu -->
      </div>  
    </nav>
  </div>
</header>
</body>
</html>
